.about {
    width: 100%;
    padding: 16rem 6rem;
    background-color: var(--color-black);
}

.sectionLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10rem;
}

.sectionRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10rem;
}

.aboutInformation {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.journeyInformation {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.hobbiesInformation {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.aboutInformation h2,
.journeyInformation h2,
.hobbiesInformation h2 {
    color: var(--color-flower);
}

.scrollingText {
    font-size: 3rem;
    font-weight: 500;
}