.contact {
    background-color: var(--color-primary-60);
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0,66,77,1) 0%, rgba(0,104,121,1) 100%);
}

.contact__block {
    width: 300px;
    padding-left: 80px;
    margin-bottom: 2rem;
}

.contact__block:last-child {
    margin-bottom: 0;
}

.contact__block > p {
    color: var(--color-black-20);
    margin-bottom: 0;
}

h3 > i {
    margin-right: 6px;
}

h3 > i:nth-child(1) {
    margin-right: 8px;
}

.form {
    background-color: var(--color-primary-70);
    max-width: 600px;
}

.form > p {
    color: var(--color-black-20);
}

.form__message p {
    color: var(--color-black-20);
    margin-bottom: -6px;
}

input {
    border: 0;
    background-color: var(--color-black-20);
}

input:hover {
    background-color: var(--color-black-20);
}

.select {
    background-color: var(--color-white);
}

.select:hover {
    background-color: var(--color-black-20);
}

label::before,
label::after {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.select > span {
    padding-top: 2px;
    padding-left: 4px;
}

form > li:hover {
    background-color: var(--color-primary-20);
    transition: all ease-in-out 0.5s;
}

.button__social {
    width: 130px;
    margin-top: 8px;
}

.button__send {
    margin-top: 1rem;
    padding: 10px 20px;
}

.success-message {
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
}

@media only screen and (max-width:500px) {
    .contact {
        padding: 80px 40px;
    }

    .contact > h2 {
        margin-top: 40px;
        margin-bottom: 20px;
        color: var(--color-white);
    }

    .contact-column {
        display: flex;
        flex-direction: column-reverse;
    }

    .contact__block {
        align-items: start;
        padding-left: 0;
    }

    .contact__block:first-child {
        margin-top: 40px;
    }

    .social__buttons {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column: 3;
        grid-gap: 10px;
    }

    .button__social {
        width: 110px;
        padding: 8px 6px;
    }
    .button__social > span {
        padding-right: 10px;
    }
}