.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 5rem);
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0,66,77,1) 0%, rgba(0,104,121,1) 100%);
}

.hero__introduction {
    opacity: 100%;
    width: 800px;
    color: var(--color-white);
}

.hero__introduction > p {
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
    font-size: var(--paragraph-text-lg);
    font-weight: var(--font-weight-skinny);
    color: var(--color-white);
}

.hero__button {
    width: 200px;
    font-size: 1rem;
    padding: 12px 16px;
    background-color: var(--color-primary-50);
    border-radius: 8px;
    color: var(--color-white);
}

.hero__button:hover {
    background-color: var(--color-primary-30);
    color: var(--color-white);
}

.hero_button > span {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-white);
}

.secondary {
    background-color: var(--color-primary-60);
}

.secondary:hover {
    background-color: var(--color-primary-20);
}

.hero__graphics {
    position: relative;
    width: 240px;
    height: calc(80px * 8);
    margin-top: var(--graphic-square-lg-spacing);
}

.hero__graphics__square {
    position: absolute;
    width: var(--graphic-square-lg);
    height: var(--graphic-square-lg);
    border-radius: 10px;
    transform: rotate(45deg);
}

.hero__graphics__square:nth-child(1) {
    animation: opacity-pulse 3s infinite;
}

.hero__graphics__square:nth-child(2) {
    left: var(--graphic-square-lg-spacing);
    top: var(--graphic-square-lg-spacing);
    animation: opacity-pulse-variation-one 4s infinite;
}

.hero__graphics__square:nth-child(3) {
    left: 0px;
    top: calc(var(--graphic-square-lg-spacing) * 2);
    animation: opacity-pulse-variation-two 5s infinite;
}

.hero__graphics__square:nth-child(4) {
    left: var(--graphic-square-lg-spacing);
    top: calc(var(--graphic-square-lg-spacing) * 3);
    animation: opacity-pulse 6s infinite;
}

.hero__graphics__square:nth-child(5) {
    left: 0px;
    top: calc(var(--graphic-square-lg-spacing) * 4);
    animation: opacity-pulse-variation-one 4s infinite;
}

.hero__graphics__square:nth-child(6) {
    left: var(--graphic-square-lg-spacing);
    top: calc(var(--graphic-square-lg-spacing) * 5);
    animation: opacity-pulse-variation-two 5s infinite;
}

.hero__graphics__square:nth-child(7) {
    left: 0;
    top: calc(var(--graphic-square-lg-spacing) * 6);
    animation: opacity-pulse-variation-one 4s infinite;
}

.hero__graphics__square:nth-child(8) {
    left: var(--graphic-square-lg-spacing);
    top: calc(var(--graphic-square-lg-spacing) * 7);
    animation: opacity-pulse 3s infinite;
}

@keyframes opacity-pulse {
    50% {opacity: 10%;}
}

@keyframes opacity-pulse-variation-one {
    70% {opacity: 10%;}
}

@keyframes opacity-pulse-variation-two {
    40% {opacity: 10%;}
}

@media only screen and (max-width: 1500px) {
    .hero__introduction {
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .hero {
        margin-top: 0;
        height: 100vh;
    }

    .hero__introduction {
        margin-top: calc(100vh - 70vh);
    }

    .hero__introduction p {
        font-size: 24px;
    }

    .hero__graphics {
        margin-top: 0 !important;
        rotate: 90deg;
    }
}

@media only screen and (max-width: 380px) {
    .hero__introduction {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .hero__graphics {
        margin-top: -100px !important;
        margin-left: -60%;
    }

    .hero__graphics__square {
        width: var(--graphic-square-sm);
        height: var(--graphic-square-sm);
    }
    
    .hero__graphics__square:nth-child(2) {
        left: var(--graphic-square-sm-spacing);
        top: var(--graphic-square-sm-spacing);
        animation: opacity-pulse-variation-one 4s infinite;
    }
    
    .hero__graphics__square:nth-child(3) {
        left: 0px;
        top: calc(var(--graphic-square-sm-spacing) * 2);
        animation: opacity-pulse-variation-two 5s infinite;
    }
    
    .hero__graphics__square:nth-child(4) {
        left: var(--graphic-square-sm-spacing);
        top: calc(var(--graphic-square-sm-spacing) * 3);
        animation: opacity-pulse 6s infinite;
    }
    
    .hero__graphics__square:nth-child(5) {
        left: 0px;
        top: calc(var(--graphic-square-sm-spacing) * 4);
        animation: opacity-pulse-variation-one 4s infinite;
    }
    
    .hero__graphics__square:nth-child(6) {
        left: var(--graphic-square-sm-spacing);
        top: calc(var(--graphic-square-sm-spacing) * 5);
        animation: opacity-pulse-variation-two 5s infinite;
    }
    
    .hero__graphics__square:nth-child(7) {
        left: 0;
        top: calc(var(--graphic-square-sm-spacing) * 6);
        animation: opacity-pulse-variation-one 4s infinite;
    }
    
    .hero__graphics__square:nth-child(8) {
        left: var(--graphic-square-sm-spacing);
        top: calc(var(--graphic-square-sm-spacing) * 7);
        animation: opacity-pulse 3s infinite;
    }
}

