.hero {
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
    background: linear-gradient(90deg, #1a1a1a 0%, #272727 100%);
}

.hero__introduction {
    width: 800px;
    color: var(--color-white);
}

.hero__introduction > p {
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
    font-size: var(--paragraph-text-lg);
    font-weight: var(--font-weight-skinny);
    color: var(--color-white);
}

.hero__introduction--link {
    font-size: 26px;
    position: relative;
}

.hero__introduction--link:hover {
    color: inherit;
}

.hero__introduction--link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff5c7a;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hero__introduction--link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ff5c7a;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero__linkDown {
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 110px;
    height: 120px;
    background-color: #ffffff;
}

.arrow-down {
  position: absolute;
  left: 40px;
  top: 10px;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 2px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #1d1d1d;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-size: 13px;
  color: #373737;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

.secondary {
    background-color: #90be6d;
}

.secondary:hover {
    background-color: #43aa8b;
}

.hero__graphics {
    position: relative;
    width: 240px;
    height: calc(80px * 8);
    margin-top: var(--graphic-square-lg-spacing);
}

.hero__graphics__square {
    position: absolute;
    width: var(--graphic-square-lg);
    height: var(--graphic-square-lg);
    border-radius: 10px;
    transform: rotate(45deg);
}

.hero__graphics__square:nth-child(1) {
    animation: opacity-pulse 3s infinite;
}

.hero__graphics__square:nth-child(2) {
    left: var(--graphic-square-lg-spacing);
    top: var(--graphic-square-lg-spacing);
    animation: opacity-pulse-variation-one 4s infinite;
}

.hero__graphics__square:nth-child(3) {
    left: 0px;
    top: calc(var(--graphic-square-lg-spacing) * 2);
    animation: opacity-pulse-variation-two 5s infinite;
}

.hero__graphics__square:nth-child(4) {
    left: var(--graphic-square-lg-spacing);
    top: calc(var(--graphic-square-lg-spacing) * 3);
    animation: opacity-pulse 6s infinite;
}

.hero__graphics__square:nth-child(5) {
    left: 0px;
    top: calc(var(--graphic-square-lg-spacing) * 4);
    animation: opacity-pulse-variation-one 4s infinite;
}

.hero__graphics__square:nth-child(6) {
    left: var(--graphic-square-lg-spacing);
    top: calc(var(--graphic-square-lg-spacing) * 5);
    animation: opacity-pulse-variation-two 5s infinite;
}

.hero__graphics__square:nth-child(7) {
    left: 0;
    top: calc(var(--graphic-square-lg-spacing) * 6);
    animation: opacity-pulse-variation-one 4s infinite;
}

.hero__graphics__square:nth-child(8) {
    left: var(--graphic-square-lg-spacing);
    top: calc(var(--graphic-square-lg-spacing) * 7);
    animation: opacity-pulse 3s infinite;
}

@keyframes opacity-pulse {
    50% {opacity: 10%;}
}

@keyframes opacity-pulse-variation-one {
    70% {opacity: 10%;}
}

@keyframes opacity-pulse-variation-two {
    40% {opacity: 10%;}
}

@media only screen and (max-width: 1500px) {
    .hero__introduction {
        width: 400px;
    }
}

@media only screen and (max-width: 500px) {
    .hero {
        margin-top: 0;
        height: 100vh;
    }

    .hero__introduction {
        margin-top: calc(100vh - 70vh);
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .hero__introduction p {
        font-size: 24px;
    }

    .hero__graphics {
        margin-top: 0 !important;
        rotate: 90deg;
    }
}

@media only screen and (max-width: 380px) {
    .hero__graphics {
        margin-top: -100px !important;
        margin-left: -60%;
    }

    .hero__graphics__square {
        width: var(--graphic-square-sm);
        height: var(--graphic-square-sm);
    }
    
    .hero__graphics__square:nth-child(2) {
        left: var(--graphic-square-sm-spacing);
        top: var(--graphic-square-sm-spacing);
        animation: opacity-pulse-variation-one 4s infinite;
    }
    
    .hero__graphics__square:nth-child(3) {
        left: 0px;
        top: calc(var(--graphic-square-sm-spacing) * 2);
        animation: opacity-pulse-variation-two 5s infinite;
    }
    
    .hero__graphics__square:nth-child(4) {
        left: var(--graphic-square-sm-spacing);
        top: calc(var(--graphic-square-sm-spacing) * 3);
        animation: opacity-pulse 6s infinite;
    }
    
    .hero__graphics__square:nth-child(5) {
        left: 0px;
        top: calc(var(--graphic-square-sm-spacing) * 4);
        animation: opacity-pulse-variation-one 4s infinite;
    }
    
    .hero__graphics__square:nth-child(6) {
        left: var(--graphic-square-sm-spacing);
        top: calc(var(--graphic-square-sm-spacing) * 5);
        animation: opacity-pulse-variation-two 5s infinite;
    }
    
    .hero__graphics__square:nth-child(7) {
        left: 0;
        top: calc(var(--graphic-square-sm-spacing) * 6);
        animation: opacity-pulse-variation-one 4s infinite;
    }
    
    .hero__graphics__square:nth-child(8) {
        left: var(--graphic-square-sm-spacing);
        top: calc(var(--graphic-square-sm-spacing) * 7);
        animation: opacity-pulse 3s infinite;
    }
}

