.navigation {
    background-color: #00434e;
    border: none;
}

.menu-icon {
    background-color: unset;
    border: 1px solid white;
    outline: 0; 
}

.menu-icon:hover {
    background-color: unset;
    border: var(--color-water) 1px solid;    
}

.menu-icon:focus {
    outline: 0;
}

.button__small > span {
    margin-top: 2px;
}