.work {
    background-color: var(--color-black-20);
    padding-top: 80px;
    padding-bottom: 80px;
}

.work > h2 {
    color: var(--color-primary-60);
}

.card {
    max-width: 400px;
    background-color: var(--color-white);
    border-radius: 8px;
    padding: 0;
    transition: all ease-in-out 500ms;
}

.card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--color-black-10);
}

.card > img {
    border-radius: 8px 8px 0 0;
}

.card__information {
    padding: 1rem;
}

.card__information > span {
    color: var(--color-ocean);
}

.card__dialog {
    color: var(--color-black);
}

.card__information > h3 {
    color: var(--color-primary-60);
}